# Step 1
Clean and prepare the data

In [153]:
# import necessary python modules for analysis
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split,cross_val_score, cross_val_predict

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn import metrics

In [154]:
# import data via pandas module

train = pd.read_csv("Data for Cleaning & Modeling.csv")
test = pd.read_csv("Holdout for Testing.csv")

C:\Users\Gokturk\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [155]:
train.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X23,X24,X25,X26,X27,X28,X29,X30,X31,X32
0,11.89%,54734.0,80364.0,"$25,000","$25,000","$19,080",36 months,B,B4,NaN,...,Feb-94,0.0,NaN,NaN,10.0,0.0,28854.0,52.10%,42.0,f
1,10.71%,55742.0,114426.0,"$7,000","$7,000",$673,36 months,B,B5,CNN,...,Oct-00,0.0,NaN,NaN,7.0,0.0,33623.0,76.70%,7.0,f
2,16.99%,57167.0,137225.0,"$25,000","$25,000","$24,725",36 months,D,D3,Web Programmer,...,Jun-00,0.0,41.0,NaN,10.0,0.0,19878.0,66.30%,17.0,f
3,13.11%,57245.0,138150.0,"$1,200","$1,200","$1,200",36 months,C,C2,city of beaumont texas,...,Jan-85,0.0,64.0,NaN,5.0,0.0,2584.0,40.40%,31.0,f
4,13.57%,57416.0,139635.0,"$10,800","$10,800","$10,692",36 months,C,C3,State Farm Insurance,...,Dec-96,1.0,58.0,NaN,14.0,0.0,3511.0,25.60%,40.0,f

In [156]:
train.shape, test.shape

((400000, 32), (80000, 32))

In [157]:
print(list(train.columns))

['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X25', 'X26', 'X27', 'X28', 'X29', 'X30', 'X31', 'X32']

In [158]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400000 entries, 0 to 399999
Data columns (total 32 columns):
X1     338990 non-null object
X2     399999 non-null float64
X3     399999 non-null float64
X4     399999 non-null object
X5     399999 non-null object
X6     399999 non-null object
X7     399999 non-null object
X8     338730 non-null object
X9     338730 non-null object
X10    376014 non-null object
X11    382462 non-null object
X12    338639 non-null object
X13    338972 non-null float64
X14    399999 non-null object
X15    399999 non-null object
X16    123560 non-null object
X17    399999 non-null object
X18    399981 non-null object
X19    399999 non-null object
X20    399999 non-null object
X21    399999 non-null float64
X22    399999 non-null float64
X23    399999 non-null object
X24    399999 non-null float64
X25    181198 non-null float64
X26    51155 non-null float64
X27    399999 non-null float64
X28    399999 non-null float64
X29    399999 non-null float64
X30    399733 non-null object
X31    399999 non-null float64
X32    399999 non-null object
dtypes: float64(12), object(20)
memory usage: 97.7+ MB

In [159]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 32 columns):
X1     0 non-null float64
X2     80000 non-null int64
X3     80000 non-null int64
X4     80000 non-null object
X5     80000 non-null object
X6     80000 non-null object
X7     80000 non-null object
X8     80000 non-null object
X9     80000 non-null object
X10    75606 non-null object
X11    75618 non-null object
X12    80000 non-null object
X13    80000 non-null float64
X14    80000 non-null object
X15    80000 non-null object
X16    15 non-null object
X17    80000 non-null object
X18    80000 non-null object
X19    80000 non-null object
X20    80000 non-null object
X21    80000 non-null float64
X22    80000 non-null int64
X23    80000 non-null object
X24    80000 non-null int64
X25    41296 non-null float64
X26    13839 non-null float64
X27    80000 non-null int64
X28    80000 non-null int64
X29    80000 non-null int64
X30    79970 non-null object
X31    80000 non-null int64
X32    80000 non-null object
dtypes: float64(5), int64(8), object(19)
memory usage: 19.5+ MB

In [160]:
# X2 and X3 columns are the ID numbers, so they shouldn't effect how the interest rate is determined
#so we can drop them .We will keep X2 for test .

train.drop(['X2', 'X3'], axis=1, inplace=True)
test.drop(['X3'], axis=1, inplace=True)

In [161]:
# Column X10-Borrower-provided job title has many missing  values.This info might not be that 
#useful to the model,so we can remove this from both the test and training data set.

train.drop(['X10'], axis=1, inplace=True)
test.drop(['X10'], axis=1, inplace=True)

In [162]:
# Column X11-Number of years employed has missing values.This info might not be that 
#useful to the model,so we can remove this from both the test and training data set.

test.drop(['X11'], axis=1, inplace=True)
train.drop(['X11'], axis=1, inplace=True)

In [163]:
# Column X13- Annual Income-  has missing values.It might not be a good idea to remove the column 
#all together as annual income is an important factor as a criteria for a loan, so we can just 
#remove rows with missing values.

train.dropna(subset=['X13'], inplace=True)
test.dropna(subset=['X13'], inplace=True)

In [164]:
# Column X15- Date loan was issued-does not provide with any useful information for predicting the
#loan rate.We can remove this column.

test.drop(['X15'], axis=1, inplace=True)
train.drop(['X15'], axis=1, inplace=True)

In [165]:
# Column X16-Reason for loan provided by borrower-has a lot of missing values, this information
#shouldn't effect how the interest rate is determined so we can drop this from both sets

train.drop(['X16'], axis=1, inplace=True)
test.drop(['X16'], axis=1, inplace=True)

In [166]:
# Column X17-Loan category, as provided by borrower- is an information which wouldn't affect
#the predicted loan rate, so we can remove it fom both sets.

train.drop(['X17'], axis=1, inplace=True)
test.drop(['X17'], axis=1, inplace=True)

In [167]:
# Column X18- Loan Title-  is an information which wouldn't affect any prediction about the 
#predicted loan rate, so we can just remove it.

train.drop(['X18'], axis=1, inplace=True)
test.drop(['X18'], axis=1, inplace=True)

In [168]:
# Column X20- State of borrower-  we already have a zip code column , so this info is redundant.
#We can remove this column.

#test.drop(['X20'], axis=1, inplace=True)
#train.drop(['X20'], axis=1, inplace=True)

In [169]:
# Column X23- Date the borrower's earliest reported credit line was opened-This column doesn't
#provide with any useful data for predicting the loan rate, we can drop it.

test.drop(['X23'], axis=1, inplace=True)
train.drop(['X23'], axis=1, inplace=True)

In [170]:
# Column X25 & X26 has many missing values. So we can remove these from both sets.

train.drop(['X25'], axis=1, inplace=True)
test.drop(['X25'], axis=1, inplace=True)
train.drop(['X26'], axis=1, inplace=True)
test.drop(['X26'], axis=1, inplace=True)

In [171]:
# Column X30 Revolving line utilization rate has 267 missing values.
#We can  delete these rows from both the training and the test sets.

train.dropna(subset=['X30'], inplace=True)
test.dropna(subset=['X30'], inplace=True)

In [172]:
# Column 32 The initial listing status of the loan seems to be irrelevant to our prediction
#so we can remove it.

test.drop(['X32'], axis=1, inplace=True)
train.drop(['X32'], axis=1, inplace=True)

In [173]:
# Column 32  Home ownership has missing entries and also meaningless entries
#such as none, nan, other, any .So we can remove this column.

print(train.X12.unique())

['RENT' 'OWN' 'MORTGAGE' 'NONE' nan 'OTHER' 'ANY']

In [174]:
test.drop(['X12'], axis=1, inplace=True)
train.drop(['X12'], axis=1, inplace=True)

In [175]:
train.shape, test.shape

((338750, 19), (79970, 20))

In [176]:
print(list(train.columns))

['X1', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X13', 'X14', 'X19', 'X20', 'X21', 'X22', 'X24', 'X27', 'X28', 'X29', 'X30', 'X31']

In [177]:
print(list(test.columns))

['X1', 'X2', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X13', 'X14', 'X19', 'X20', 'X21', 'X22', 'X24', 'X27', 'X28', 'X29', 'X30', 'X31']

In [178]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 338750 entries, 0 to 399999
Data columns (total 19 columns):
X1     287050 non-null object
X4     338750 non-null object
X5     338750 non-null object
X6     338750 non-null object
X7     338750 non-null object
X8     286713 non-null object
X9     286713 non-null object
X13    338750 non-null float64
X14    338750 non-null object
X19    338750 non-null object
X20    338750 non-null object
X21    338750 non-null float64
X22    338750 non-null float64
X24    338750 non-null float64
X27    338750 non-null float64
X28    338750 non-null float64
X29    338750 non-null float64
X30    338750 non-null object
X31    338750 non-null float64
dtypes: float64(8), object(11)
memory usage: 51.7+ MB

In [179]:
# I will remove '$', '%' symbols, change the string data types to numeric and also 
#convert percentages to ratios by dividing by 100

train['X1'] = pd.to_numeric(train['X1'].str.replace('%', ''))/100
train['X4'] = train['X4'].str.replace('$', '')
train['X4'] = pd.to_numeric(train['X4'].str.replace(',', ''))
train['X5'] = train['X5'].str.replace('$', '')
train['X5'] = pd.to_numeric(train['X5'].str.replace(',', ''))
train['X6'] = train['X6'].str.replace('$', '')
train['X6'] = pd.to_numeric(train['X6'].str.replace(',', ''))
train['X7'] = pd.to_numeric(train['X7'].str.replace(' months', ''))
train['X19'] = pd.to_numeric(train['X19'].str.replace('x', ''))
train['X21'] = train['X21']/100 
train['X13'] = train['X13'].astype(int)
train['X22'] = train['X22'].astype(int)
train['X24'] = train['X24'].astype(int) 
train['X27'] = train['X27'].astype(int)
train['X28'] = train['X28'].astype(int) 
train['X29'] = train['X29'].astype(int) 
train['X30'] = train['X30'].str.replace('%', '')
train['X30'] = pd.to_numeric(train['X30'].str.replace(',', ''))/100
train['X31'] = train['X31'].astype(int)

In [180]:
print(train.X14.unique())

['VERIFIED - income' 'not verified' 'VERIFIED - income source']

In [181]:
#I will replace  'VERIFIED - income source' and 'VERIFIED - income'values with 'verified'

train['X14'].replace(to_replace=['VERIFIED - income', 'VERIFIED - income source'],value='verified',
                      inplace=True)
test['X14'].replace(to_replace=['VERIFIED - income', 'VERIFIED - income source'],value='verified',
                      inplace=True)

In [182]:
#I will now convert  verified/not verified categorical variables into numeric values
verified = {"not verified": 0, "verified": 1}
data = [train, test]

for dataset in data:
    dataset['X14'] = dataset['X14'].map(verified)

In [183]:
#print(train.X8.unique())

In [184]:
#X8 Loan Grade  - convert categorical variables to numericals
grades = {"A": 0, "B": 1, "C": 2, "D": 3, "E": 4, "F": 5, "G": 6}
data = [train, test]

for dataset in data:
    dataset['X8'] = dataset['X8'].map(grades)
train['X8'] = train['X8'].fillna(0)    
train['X8'] = train['X8'].astype(int)
test['X8'] = test['X8'].astype(int)

In [185]:
#print(train.X9.unique())

In [186]:
#X9 Loan Subgrade- convert categorical variables to numericals
subgrades = {"A1": 0, "A2": 1, "A3": 2, "A4": 3, "A5": 4, "B1": 5, "B2": 6, "B3": 7, "B4": 8, "B5": 9,
          "C1": 10, "C2": 11, "C3":12, "C4": 13, "C5":14 , "D1": 15, "D2": 16, "D3": 17, "D4": 18, 
          "D5": 19,"E1": 20, "E2": 21, "E3": 22, "E4": 23, "E5": 24, "F1": 25, "F2": 26, "F3": 27, 
          "F4": 28, "F5": 29, "G1": 30, "G2": 31, "G3": 32, "G4": 33, "G5": 34 }
data = [train, test]


for dataset in data:
    dataset['X9'] = dataset['X9'].map(subgrades)
    
train['X9'] = train['X9'].fillna(0)
train['X9'] = train['X9'].astype(int)
test['X9'] = test['X9'].astype(int)

In [187]:
# I will also do the necessary editing for test set.

In [188]:
test['X4'] = test['X4'].str.replace('$', '')
test['X4'] = pd.to_numeric(test['X4'].str.replace(',', ''))

In [189]:
test['X5'] = test['X5'].str.replace('$', '')
test['X5'] = pd.to_numeric(test['X5'].str.replace(',', ''))

In [190]:
test['X6'] = test['X6'].str.replace('$', '')
test['X6'] = pd.to_numeric(test['X6'].str.replace(',', ''))

In [191]:
test['X7'] = pd.to_numeric(test['X7'].str.replace(' months', ''))

In [192]:
test['X19'] = pd.to_numeric(test['X19'].str.replace('x', ''))

In [193]:
test['X21'] = test['X21']/100 # converting percentage to ratio

In [194]:
test['X13'] = test['X13'].astype(int) # convert to interger type

In [195]:
test['X30'] = test['X13'].astype(int)
test['X30'] = test['X30']/100 # convert revolving utilization to ratio

In [196]:
test.head()

,X1,X2,X4,X5,X6,X7,X8,X9,X13,X14,X19,X20,X21,X22,X24,X27,X28,X29,X30,X31
0,NaN,44409194,6000,6000,6000,36,2,14,68000,1,430,OH,0.2831,0,1,18,0,19861,680.0,33
1,NaN,44017917,24000,24000,24000,36,0,0,110480,1,945,CA,0.1603,0,1,12,0,17001,1104.8,36
2,NaN,44259158,35000,35000,35000,36,2,11,86000,1,195,PA,0.3249,0,0,16,0,25797,860.0,33
3,NaN,44429213,10000,10000,10000,60,3,15,30000,1,921,CA,0.3296,0,1,13,1,9586,300.0,21
4,NaN,44299188,24000,24000,24000,60,1,5,82500,1,196,PA,0.3103,0,0,27,0,31842,825.0,43

In [197]:
train.head()

,X1,X4,X5,X6,X7,X8,X9,X13,X14,X19,X20,X21,X22,X24,X27,X28,X29,X30,X31
0,0.1189,25000,25000,19080,36,1,8,85000,1,941,CA,0.1948,0,0,10,0,28854,0.521,42
1,0.1071,7000,7000,673,36,1,9,65000,0,112,NY,0.1429,0,0,7,0,33623,0.767,7
2,0.1699,25000,25000,24725,36,3,17,70000,1,100,NY,0.1050,0,0,10,0,19878,0.663,17
3,0.1311,1200,1200,1200,36,2,11,54000,0,777,TX,0.0547,0,0,5,0,2584,0.404,31
4,0.1357,10800,10800,10692,36,2,12,32000,0,67,CT,0.1163,0,1,14,0,3511,0.256,40

In [198]:
train.isnull().values.any()
train.isnull().sum().sum()

51700

In [199]:
train.dropna(inplace=True)
#test.dropna(inplace=True)

In [200]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79970 entries, 0 to 79999
Data columns (total 20 columns):
X1     0 non-null float64
X2     79970 non-null int64
X4     79970 non-null int64
X5     79970 non-null int64
X6     79970 non-null int64
X7     79970 non-null int64
X8     79970 non-null int32
X9     79970 non-null int32
X13    79970 non-null int32
X14    79970 non-null int64
X19    79970 non-null int64
X20    79970 non-null object
X21    79970 non-null float64
X22    79970 non-null int64
X24    79970 non-null int64
X27    79970 non-null int64
X28    79970 non-null int64
X29    79970 non-null int64
X30    79970 non-null float64
X31    79970 non-null int64
dtypes: float64(3), int32(3), int64(13), object(1)
memory usage: 11.9+ MB

In [201]:
train.head()

,X1,X4,X5,X6,X7,X8,X9,X13,X14,X19,X20,X21,X22,X24,X27,X28,X29,X30,X31
0,0.1189,25000,25000,19080,36,1,8,85000,1,941,CA,0.1948,0,0,10,0,28854,0.521,42
1,0.1071,7000,7000,673,36,1,9,65000,0,112,NY,0.1429,0,0,7,0,33623,0.767,7
2,0.1699,25000,25000,24725,36,3,17,70000,1,100,NY,0.1050,0,0,10,0,19878,0.663,17
3,0.1311,1200,1200,1200,36,2,11,54000,0,777,TX,0.0547,0,0,5,0,2584,0.404,31
4,0.1357,10800,10800,10692,36,2,12,32000,0,67,CT,0.1163,0,1,14,0,3511,0.256,40

In [204]:
train.rename(columns = {'X1':'Interest Rate',
                        'X2':'Loan ID',
                        'X4':'Amount requested',
                        'X5':'Amount funded',
                        'X6':'Investor funded portion',
                        'X7':'Number of payments',
                        'X8':'Loan grade ',
                        'X9':'Loan subgrade',
                        'X13':'Annual income of borrower ',
                        'X14':'Income verification',
                        'X19':'Loan title ',
                        'X20':'State of borrower',
                        'X21':'Debt payments on total obligations ratio ',
                        'X22':'Delinquency',
                        'X24':'Inquiries by creditors ',
                        'X27':'Nr of open credit lines',
                        'X28':'Derogatory public records',
                        'X29':'Revolving balance',
                        'X30':'Revolving line utilization',
                        'X31':'Initial listing status',
                       },
                inplace = True)

In [205]:
train.head()

,Interest Rate,Amount requested,Amount funded,Investor funded portion,Number of payments,Loan grade,Loan subgrade,Annual income of borrower,Income verification,Loan title,State of borrower,Debt payments on total obligations ratio,Delinquency,Inquiries by creditors,Nr of open credit lines,Derogatory public records,Revolving balance,Revolving line utilization,Initial listing status
0,0.1189,25000,25000,19080,36,1,8,85000,1,941,CA,0.1948,0,0,10,0,28854,0.521,42
1,0.1071,7000,7000,673,36,1,9,65000,0,112,NY,0.1429,0,0,7,0,33623,0.767,7
2,0.1699,25000,25000,24725,36,3,17,70000,1,100,NY,0.1050,0,0,10,0,19878,0.663,17
3,0.1311,1200,1200,1200,36,2,11,54000,0,777,TX,0.0547,0,0,5,0,2584,0.404,31
4,0.1357,10800,10800,10692,36,2,12,32000,0,67,CT,0.1163,0,1,14,0,3511,0.256,40

In [207]:
train.to_csv('C:/Users/Gokturk/Desktop/MSCA/Winter 2020/Data Visualization/Assignments/Project/loan_data.csv', index=False)

In [209]:
loan_new = train[['State of borrower','Amount funded']]

In [212]:
loan_new.to_csv('C:/Users/Gokturk/Desktop/MSCA/Winter 2020/Data Visualization/Assignments/Project/loan_new.csv', index=False)

In [213]:
loan_new.head()

  State of borrower  Amount funded
0                CA          25000
1                NY           7000
2                NY          25000
3                TX           1200
4                CT          10800

In [216]:
totalloanbystate= loan_new.groupby('State of borrower').sum()
totalloanbystate

                   Amount funded
State of borrower
AK                      13178550
AL                      51046650
AR                      28958325
AZ                      90038975
CA                     625847075
CO                      87920075
CT                      64527550
DC                      12949575
DE                      10870550
FL                     258781100
GA                     132828475
HI                      22689525
IA                         70375
ID                         65750
IL                     168415775
IN                      57749125
KS                      37518900
KY                      37345525
LA                      48691850
MA                     104282700
MD                     102526750
ME                         39050
MI                      97374750
MN                      68313900
MO                      64562650
MS                       9140775
MT                      11178625
NC                     110862350
NE                         56450
NH                      19947600
NJ                     166982375
NM                      23073650
NV                      54367275
NY                     346876200
OH                     129821650
OK                      36412375
OR                      49032825
PA                     138588025
RI                      16853375
SC                      48651225
SD                       8027750
TN                      52597025
TX                     334978150
UT                      30638400
VA                     132739050
VT                       6745075
WA                      93113525
WI                      50075525
WV                      20744475
WY                      11213025

In [218]:
totalloanbystate.to_csv('C:/Users/Gokturk/Desktop/MSCA/Winter 2020/Data Visualization/Assignments/Project/totalloanbystate.csv')

# Step 2:
Build your models:

In [49]:
X = train.drop(['X1'], axis=1)
Y = train["X1"]

In [50]:
X.shape, Y.shape

((287050, 17), (287050,))

In [51]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y,test_size=0.25,random_state=1)

In [52]:
# Set seed for reproducibility
SEED = 1

In [53]:
#Linear Regression
lin_reg = LinearRegression()
lin_reg.fit(X_train, Y_train)
y_pred_lr = lin_reg.predict(X_test)

In [58]:
#Linear Regression Accuracy with test set
print('Linear Regression Accuracy: ', lin_reg.score(X_test,Y_test))

Linear Regression Accuracy:  0.6789928822404663

In [59]:
# Compute mse for linear regression
mse_lin_reg = MSE(Y_test, y_pred_lr)

# Compute rmse
rmse_lin_reg = mse_lin_reg**(1/2)

# Print rmse
print("Test set RMSE of linear regression: {:.2f}".format(rmse_lin_reg))

Test set RMSE of linear regression: 0.02

In [60]:
from sklearn.model_selection import cross_val_score
# Compute the array containing the 10-folds CV MSEs
MSE_CV_scores = - cross_val_score(lin_reg, X_train, Y_train, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 

# Compute the 10-folds CV RMSE
RMSE_CV = (MSE_CV_scores.mean())**(1/2)

# Print RMSE_CV
print('CV RMSE: {:.2f}'.format(RMSE_CV))

CV RMSE: 0.02

In [61]:
#Decision Tree Regressor

dt_regressor = DecisionTreeRegressor(max_depth=8,
                           min_samples_leaf=0.13,
                           random_state=SEED)
dt_regressor.fit(X_train, Y_train)

y_pred_dt = dt_regressor.predict(X_test)

In [62]:
#Decision Tree Regression Accuracy with test set
print('Decision Tree Regression Accuracy: ', dt_regressor.score(X_test,Y_test))

Decision Tree Regression Accuracy:  0.6773149373486973

In [63]:
# Compute mse for decision tree regression
mse_dtree = MSE(Y_test, y_pred_dt)

# Compute rmse_dt
rmse_dtree = mse_dtree**(1/2)

# Print rmse_dt
print("Test set RMSE of decision tree regression: {:.2f}".format(rmse_dtree))

Test set RMSE of decision tree regression: 0.02

In [64]:
from sklearn.model_selection import cross_val_score
# Compute the array containing the 10-folds CV MSEs
MSE_CV_scores = - cross_val_score(dt_regressor, X_train, Y_train, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 
# Compute the 10-folds CV RMSE
RMSE_CV = (MSE_CV_scores.mean())**(1/2)

# Print RMSE_CV
print('CV RMSE: {:.2f}'.format(RMSE_CV))

CV RMSE: 0.02

In [67]:
#Random Forest regressor

# Instantiate a random forests regressor 'rf' 400 estimators
rf_regressor = RandomForestRegressor(n_estimators=300,
min_samples_leaf=0.12,random_state=SEED)

# Fit 'rf' to the training set
rf_regressor.fit(X_train, Y_train)

# Predict the Loan rate
y_pred_rf_test = rf_regressor.predict(X_test)
y_pred_rf_train=rf_regressor.predict(X_train)

In [68]:
# Random Forest Regression Accuracy with test set
print('Random Forest Regression Accuracy: ', rf_regressor.score(X_test,Y_test))

Random Forest Regression Accuracy:  0.5734172083215265

In [69]:
# Compute rmse for random forest regression
rmse_test_rf = MSE(Y_test, y_pred_rf_test)**(1/2)
rmse_train_rf = MSE(Y_train, y_pred_rf_train)**(1/2)

# Print the test set RMSE
print('Test set RMSE of rf: {:.2f}'.format(rmse_test_rf))
print('Train set RMSE of rf: {:.2f}'.format(rmse_train_rf))

Test set RMSE of rf: 0.03
Train set RMSE of rf: 0.03

In [70]:
# Gradient Boosting Regressor

# Instantiate gb
gb = GradientBoostingRegressor(max_depth=6,
                               n_estimators=600,
                               random_state=SEED)

# Fit gb to the training set
gb.fit(X_train, Y_train)

# Predict test set labels
y_pred_gboost = gb.predict(X_test)

In [71]:
# Gradient Boosting Regression Accuracy with test set
print('Gradient Boosting Regression Accuracy: ', gb.score(X_test,Y_test))

Gradient Boosting Regression Accuracy:  0.8891766161414955

In [72]:
# Compute MSE
mse_test_gb = MSE(Y_test, y_pred_gboost)

# Compute RMSE
rmse_test_gb = mse_test_gb**(1/2)

# Print RMSE
print('Test set RMSE of gb: {:.3f}'.format(rmse_test_gb))

Test set RMSE of gb: 0.015

In [73]:
test.head()

,X1,X2,X4,X5,X6,X7,X8,X9,X13,X14,X19,X21,X22,X24,X27,X28,X29,X30,X31
0,NaN,44409194,6000,6000,6000,36,2,14,68000,1,430,0.2831,0,1,18,0,19861,680.0,33
1,NaN,44017917,24000,24000,24000,36,0,0,110480,1,945,0.1603,0,1,12,0,17001,1104.8,36
2,NaN,44259158,35000,35000,35000,36,2,11,86000,1,195,0.3249,0,0,16,0,25797,860.0,33
3,NaN,44429213,10000,10000,10000,60,3,15,30000,1,921,0.3296,0,1,13,1,9586,300.0,21
4,NaN,44299188,24000,24000,24000,60,1,5,82500,1,196,0.3103,0,0,27,0,31842,825.0,43

In [74]:
test_df = test.drop(['X1','X2'], axis=1)
prediction_gb = gb.predict(test_df)

In [75]:
submission = pd.DataFrame({'Loan ID': test['X2'], 'Predicted Rate' : prediction_gb})

In [76]:
submission.to_csv('Loan Results from Gokturk Demir 12215218.csv', index=False)

Gradient Boosting Regression model resulted the highest accuracy score with the lowest RMSE.So I used this model for my final submission.
    A big advantage of the gradient boosting is, it builds trees one at a time, where each new tree helps to correct errors made by previously trained tree. With each tree added, the model becomes stronger in prediction.
    One disadvantage of this model is that as it will continue to minimize errors,  this might over emphasize outliers and cause overfitting.And also the training takes longer because of the fact that trees are built sequentially.